*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
.byebug_history

# Credentials
grafana_api_token.yml
.env

# IDE
.idea/
.vscode/
*.swp
*.swo
*~
